#test-map, #yaga-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.leaflet-top {
    top: 50px;
}
.leaflet-bottom {
    bottom: 50px;
}
.ui-page .ui-footer-fixed.ui-fixed-hidden, .ui-page .ui-header-fixed.ui-fixed-hidden { /* fix for hidden toolbar */
    display: none;
}
.yaga-btn-active {
    background-color: #ccffcc !important;
}
.yaga-btn-deactive {
    background-color: #ffcccc !important;
}

.yaga-layer-tree-item .ui-li-count {
    top: 47px
}
.yaga-layer-tree-item.ui-li-has-count {
    padding-right: 1em !important;
}