#test-map, #yaga-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.leaflet-top {
    top: 50px;
}
.leaflet-bottom {
    bottom: 50px;
}